@using MarsAhletic.WebUI.Models
@{
    ViewBag.Title = "M-Port | Modül İzinleri";
}
@model IEnumerable<Module>

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Modül İzinleri</h4>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0);">Ayarlar</a>
            </li>
            <li class="active">
                Modül İzinleri
            </li>
        </ol>
        <p class="text-muted page-title-alt">Modüllere erişim yetkilerini belirlemek için bu sayfada ter alan panelleri düzenleyiniz.</p>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading">
                    <h3 class="panel-title">@(item.Name == "PurchaseOrders" ? "Satınalma" : item.Name)</h3>
                </div>
                <div class="panel-body">
                    <p>
                        @(item.Name == "PurchaseOrders" ? "Satınalma" : item.Name) modülünün yetklierini belirlemek için aşağıdaki erişim denetim listesi kullanılmaktadır.
                    </p>
                    <p>Aktif Erişim Denetim Listesi:</p>
                    @{
                        using (var appDb = new ApplicationDbContext())
                        {
                            var aclInUse = appDb.AccessControlLists.Where(m => m.Module.Id == item.Id).FirstOrDefault();

                            if (aclInUse != null)
                            {
                                <a href="">@aclInUse.Name</a><br/><a href="">Değiştir</a>
                            }
                            else
                            {
                                <a href="@Url.Action("CreateNewAccessControlList")">Yeni Yetki Listesi Tanımla</a>
                            }
                        }


                     }
                </div>
            </div>

        </div>
    }
</div>